# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.DS_Store

# Project output
tmp/
output/

# Distribution
*.egg-info/
dist/
build/

# Local dev folder
local-dev

# Archieved openspec changes
openspec/changes/archive

